#wiki-wrapper {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.markdown-body {
  font-family: sans-serif;
}

.markdown-body code,
.markdown-body pre,
.markdown-body tt {
  font-family: monospace;
}
